.menu-aside {
  opacity: 0;
  transition: all 11s;
}
.menu-aside--active {
  width: 100vh;
  background-color: #FFF;
  position: absolute;
  height: 100vh;
  z-index: 2;
  top: 0;
  opacity: 1;
}
.menu {
  visibility: hidden;
  position: fixed;
  font-family: "TT Lakes", sans-serif;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: #fff;
  flex-direction: column;
  padding-right: 1.5rem;
  z-index: 100;
  transition: all .5s;
  height: 100vh;
  &--open {
    visibility: visible;
    left: 0px;
  }
  @media (min-width: $screen-md) and (max-width: $screen-xl) {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
    width: 35%;
  }
  @media (min-width: $screen-xl) {
    display: block;
    width: 320px;
    position: relative;
    height: auto;
    left: 0;
    visibility: visible;
  }
}



.menu__header {
  display: flex;
  height: 5.5rem;
  align-items: center;
  justify-content: space-between;
  margin-left: .6rem;

  margin-top: 0.6rem;

  @media (min-width: $screen-xl) {
    width: 260px;
    margin-top: 0.6rem;
  }
}
.menu__logo {
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 15px;
}
.menu__nav {
  margin: 1rem 0 5rem;
  @media (min-width: $screen-xl) {
    margin: 1rem 0 15rem;
  }
}
.menu__icons {
  display: flex;
  margin: 0 1rem;
}
.menu__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: -0.6px;
  margin-left: 1.5rem;
  margin-right: auto;
  color: #1b1c21;
}
.menu__tel {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.6px;
  margin-left: 1.5rem;
  margin-right: auto;
  margin-top: 0.75rem;
  color: #1b1c21;
}

.menu__languages {
  margin: 2rem 1.5rem;
}

.menu__lang,
.menu__lang:link,
.menu__lang:visited,
.menu__lang:active {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration: none;
  color: #1b1c21;
  margin-right: 0.25rem;
}

.menu__lang:focus,
.menu__lang:hover {
  filter: drop-shadow(0 0 10px #41f6d7) contrast(5);
}

.menu__lang--active,
.menu__lang--active:link,
.menu__lang--active:visited,
.menu__lang--active:active {
  color: #7e7e82;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__link,
.nav__link:link,
.nav__link:visited,
.nav__link:active {
  color: #1b1c21;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: -0.2px;
  font-weight: 500;
  padding: 10px 20px;
  transition: all 0.5s ease;
}
.nav__link:hover,
.nav__link:focus {
  outline: none;
  filter: drop-shadow(0 0 5px #41f6d7) contrast(5);
}

.nav__link--active,
.nav__link--active:link,
.nav__link--active:visited,
.nav__link--active:active {
  position: relative;
  color: #7e7e82;
}
.nav__link--active::before {
  content: "";
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-radius: 0 4px 4px 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.close-btn {
  @media (min-width: $screen-xl) {
    display: none;
  }
}
.menu-btn__icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.btn__icon--close {
  background-image: url("../img/menu/close.svg");
}
.btn__icon--search {
  background-image: url("../img/menu/search.svg");
}

.btn__icon--tel {
  background-image: url("../img/menu/tel.svg");
}
.btn__icon--message {
  background-image: url("../img/menu/messege.svg");
}
.btn__icon--login {
  background-image: url("../img/menu/login.svg");
}
