.pop-up {
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 75;
  transform: translateX(-100%);
  transition:
    visibility 0s .5s,
    opacity .5s,
    transform 0s .5s;

  &--position {
    &--right {
      left: unset;
      right: 0;
      transform: translateX(100%);
    }
  }

  &__title {
    margin-left: 1rem;

    &:before {
      content: "";
      position: absolute;
      height: 35px;
      left: 0;
      border-left: 3px solid #41f6d7;
    }
  }

  &--visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition:
      opacity .5s,
      transform 0s 0s;
  }

  &__content {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform .4s;
  }

  &--position--right &__content {
    left: unset;
    right: 0;
    transform: translateX(100%);
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  &--visible &__content {
    transform: translateX(0);
    transition: transform .4s;
  }

  &__close {
    display: flex;
    border: none;
    background: none;
    margin-left: 1rem;
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      position: absolute;
      left: -5rem;
      top: 2rem;
    }
  }
}

.text-input {
  width: 100%;
  border-radius: .5rem;
  background-color: #FFF;
  border: 1px solid #41F6D7;
  color: #1B1C21;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .75rem 1rem;
  box-sizing: border-box;
  transition: all .3s;

  &::placeholder {
    color: #B5B6BC;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #41F6D7;
  }
}

.feedback-form {
  width: 100%;
  max-width: 27.5rem;
  height: 100%;
  min-height: 100vh;
  background-color: #FFF;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-top: 1.5rem;
  padding-bottom: 2rem;

  @media (min-width: $screen-md) {
    overflow: visible;
    padding-top: 2rem;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 1.5rem 1rem 0;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: $screen-md) {
      overflow: visible;
      padding-top: 2rem;
      padding: 1.5rem 2rem 0;
    }

  }

  &__input{
    margin-bottom: 1rem;
  }

  &__terms {
    font-size: 	0.875rem;
    line-height: 1rem;
    color: #7E7E82;
    margin-bottom: 1rem;
  }

  &__link {
    text-decoration: none;
    color: #FF3E79;

    &:hover {
      text-decoration: underline;
    }
  }

  &__submit {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

