.repair-types {

  &__swiper {
    @media (min-width: $screen-md) and (max-width: $screen-xl) {
      padding: 1rem;
    }
    @media (min-width: $screen-xl) {
      padding: 1rem;
    }

  }
  &__content {
    padding-left: 1rem;
    padding-bottom: 3rem;

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 1rem;
      column-gap: 1.5rem;
      overflow: hidden;
      padding-left: 0;
      height: 130px;
    }
    @media (min-width: $screen-xl) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 1rem;
      column-gap: 2rem;
      overflow: hidden;
      padding-left: 0;
      height: 130px;
    }
    &--read-more {
      height: auto;
    }

  }

  &__read-more {
    display: none;
    border: none;
    background: none;
    align-items: center;

    &--icon {
      background-image: url("../img/brands/more.svg");
      width: 0.5rem;
      height: 0.7rem;
      margin-right: 1rem;
      background-color: transparent;
    }

    &--text {
      font-size: 1rem;
      font-weight: 500;
    }

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
      display: flex;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }
    @media (min-width: $screen-xl) {
      display: flex;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }

  }
}

.repair-type {
  height: 160px;
  display: flex;
  background: $color-white;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  justify-content: space-between;

  &__title {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  &__icon {
    align-self: self-end;
    background-image: url("../img/brands/go.svg");
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}





